
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/navigation') %>
        <div class="container mt-5 " style="border-radius: 15px ; flex-direction: column;">
            <div class="card" style="border-radius: 15px ; flex-direction: column;">
                <div class="card-header p-4 justify-content-center align-items-center">
                    <h3>Editar Activos</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope='col'>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i in Assets){ %>
                                    <tr>
                                        <th scope="row">
                                            <%= Assets[i].id %>
                                        </th>
                                        <td> 
                                            <%= Assets[i].asset_name %>
                                        </td>
                                      
                                        <td>
                                        <a class="btn btn-warning mt-1 col-md-6" href="/register/asset-edit/<%=Assets[i].id%>" style="max-width: 300px;">editar</a>
                                        <a class="btn btn-danger mt-1 col-md-6" href="#" style="max-width: 300px;">eliminar</a>
                                        
                                        </td>
                                    </tr>

                                    <% } %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>
<%- include('../partials/footer') %>

</html>