
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
        <script src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
        <script src="../js/table.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
</head>

<body>
    <%- include('../'+navBar) %>
    <div class="d-flex bd-highlight">
        <div class="bd-highlight">
            <a href="/" style="color: white" class="btn btn-dark mx-5 mt-5 ">
                <div class="mx-2 my-0">
                    <p class="my-0"><i class="fa-solid fa-arrow-left-long"></i> Inicio</p> 
                </div>
            </a>
        </div>
        <div class="bd-highlight ms-auto">
            <a href="/register/user" style="color: white" class="btn btn-dark mx-5 mt-5">
                <div class="mx-2 my-0">
                    <p class="my-0">Agregar Usuario <i class="fa-solid fa-arrow-right-long"></i></p> 
                </div>
            </a>
        </div>
    </div>
        <div class="container mt-5 " style="border-radius: 15px ; flex-direction: column;">
            <div class="card" style="border-radius: 15px ; flex-direction: column;">
                <div class="card-header p-4 justify-content-center align-items-center">
                    <h3>Usuarios</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tabla" class="table table-hover display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre de Usuario</th>
                                    <th scope='col'>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i in Users) { 
                                    if(Users[i].id_users!=0){%>
                                    <tr>
                                        <th scope="row">
                                            <%= Users[i].id_users %>
                                        </th>
                                        <td> 
                                            <%= Users[i].UserName %>
                                        </td>
                                      
                                        <td>
                                        <a class="btn btn-success mt-1 col-md-6" href="/register/user-edit/<%=Users[i].id_users%>" style="max-width: 100px;" title="Editar"><i class="fa-solid fa-pencil"></i></a>
                                        <a class="btn btn-primary mt-1 col-md-6" href="/register/user-edit-password/<%=Users[i].id_users%>" style="max-width: 100px;" title="Cambiar Contraseña"><i class="fa-solid fa-key"></i></a>
                                        <button class="btn btn-danger mt-1 col-md-6" onclick="eliminar('<%=Users[i].id_users%>')" style="max-width: 100px;" title="Eliminar"><i class="fa-solid fa-xmark"></i></button>
                                        
                                        </td>
                                    </tr>

                                    <% }} %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>
<%- include('../partials/footer') %>
<script>
    function eliminar(id){
        if(confirm("¿Estas seguro?")){
            document.location.replace("/register/user-delete/"+id)
        }
    }
</script>
</html>