<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
        <div class="container h-100 mt-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-header p-4">
                            <h3>Envío de avisos</h3>
                        </div>
                        <div class="card-body">
                            <form name="notification-form" method="post" action="register/notification">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Asunto de la notificación</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input id='subject' type="text" class="form-control form-control-lg"
                                            name='subject' />
                                    </div>
                                </div>
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Mensaje</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <textarea name="message" id="message" cols="30" rows="10"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="row align-items-center pt-4 pb-3">
                                    <h2>destinatario</h2>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Username</th>
                                                    <th scope="col">Nombre / Apellido</th>
                                                    <th scope="col">Correo</th>
                                                    <th scope="col">correo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for( let i in users) { 
                                                    if (users[i].dataValues.UserName != "Predeterminado"){%>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= users[i].dataValues.UserName %>
                                                        </th>
                                                        <th scope="row">
                                                            <%= users[i].dataValues.nameUser +" "+ users[i].dataValues.last_name %></th>
                                                    <th scope=" row">
                                                                <%= users[i].dataValues.email %>
                                                        </th>
                                                        <td scope="row"><input type='checkbox' name="email" id='email'
                                                                value='<%= users[i].dataValues.email %>' /> </td>
                                                    </tr>
                                                <% }} %>
                                            </tbody>
                                        </table>                 
                                    </div>
                                    <button type="button" onclick="seleccionarTodo()" class="btn btn-dark">Seleccionar todo</button>
                                    <button type="button" onclick="desmarcarTodo()" class="btn btn-dark">Eliminar selecciones</button>
                                </div>

                                <hr class="mx-n3">
                                <div class="px-5 py-4">
                                    <button type="submit" onclick="verificacion()"
                                        class="btn btn-dark btn-lg" >Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script>
    function seleccionarTodo() {
        var checks = document.getElementsByName('email'); 
        for (var i = 0, j = checks.length; i < j; i++) {
            checks[i].checked = true;
        }
    }
    function desmarcarTodo() {
        var checks = document.getElementsByName('email'); 
        for (var i = 0, j = checks.length; i < j; i++) {
            checks[i].checked = false;
        }
    }   
    function validate() {
        var checks = document.getElementsByName('email'); 
        for (var i = 0, j = checks.length; i < j; i++) {
            
            if(checks[i].checked == true){
                return true;
            }
        }
        return false;
    }
    function verificacion(){
        if(document.getElementById('subject').value == ""){
            event.preventDefault();
            alert('Debes especificar un asunto');
        }
        else if(document.getElementById('message').value == ""){
            event.preventDefault();
            alert('Debes escribir un mensaje');
        }
        else if (!validate()){
            event.preventDefault();
            alert('Debes seleccionar al menos un destinatario');
        }
        else if (confirm('¿Estas seguro de enviar este formulario?')){ 
            event.preventDefault();
            return true;
        }
        else{
            event.preventDefault();
        }
    }
</script>
<%- include('partials/footer') %>
</html>