<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>

    
    <div id = "barra_filtros">
        <div id = "titulo_barra_filtros">
            <h4>Filtros de búsqueda</h4>
        </div>
        <form>
        <label for="filtro_nombre">Texto</label>
        <input id = "filtro_nombre" type="text" onkeyup="buscar();">

        <label for="filtro_tipo">Tipo</label>
        <select id="filtro_tipo" onchange="refresh('filtro_tipo',1)"></select>

        <label for="filtro_ubicacion">Ubicación</label>
        <select id="filtro_ubicacion" onchange="refresh('filtro_ubicacion',2)"></select>
        
  
        
        </form>
    </div>


    <form action="/print" method = "POST">

        <div>
            <table border = "2" frame = "box" id = "tabla_activos">
                <th id = "0">Nombre activo</th>
                <th id = "1">Tipo</th>
                <th id = "2">Ubicación</th>
                <th>Seleccionar</th>

                <% for( let i in assetList) { %>

                    <tr>
                        <td><%= assetList[i].dataValues.asset_name %></td>
                        <td><%= assetList[i].dataValues.id_assetType %></td>
                        <td><%= assetList[i].dataValues.location %></td>
                        <td><input type='checkbox' id='id' value= '<%= assetList[i].dataValues.id %>'/> </td>
                    </tr>

                <% } %>


            
            </table>
            <div class="px-5 py-4">
                <button type="submit" class="btn btn-dark btn-lg">Imprimir</button>
            </div>

        </div>
        
        
    </form>


</body>

<%- include('partials/footer') %>
</html>

<script>
    
    function refresh(id_filtro,indice_columna){
        
        var tabla = document.getElementById('tabla_activos');

        var busqueda = document.getElementById(id_filtro).value.toLowerCase();
        var celda_comparar = "";
        
        for (var i = 1; i < tabla.rows.length; i++) {
            
            celda_comparar = tabla.rows[i].getElementsByTagName('td')[indice_columna];
            
            if (busqueda == celda_comparar.innerHTML.toLowerCase()){
                //Revisar esto.

                //Si cumple con el criterio y no está siendo mostrada, se muestra.
                if (tabla.rows[i].style.display == 'none'){
                    tabla.rows[i].style.display  = '';
                }
            }
            else{ //Si no cumple con el criterio

                //y está siendo mostrada
                if (tabla.rows[i].style.display == ''){
                    tabla.rows[i].style.display = 'none';
                }
            }
        }
    }

    function fill_options_select(id_filtro, indice_columna){
        const $select = document.getElementById(id_filtro);

        const primera_vacia = document.createElement('option');
        primera_vacia.value = '';
        primera_vacia.text = '';
        primera_vacia.setAttribute("selected","selected");
        $select.appendChild(primera_vacia);

        const tabla = document.getElementById('tabla_activos');

        const valores_unicos = new Set();
        
        for (var j = 1; j < tabla.rows.length; j++){
            celda = tabla.rows[j].getElementsByTagName('td')[indice_columna].innerHTML;
            valores_unicos.add(celda);
        } 
        
        for (let item of valores_unicos.keys()){
            var option = document.createElement('option');
            var valor = item;
            console.log(valor);
            option.value = valor;
            option.text = valor;
            $select.appendChild(option);
        }
    }

    fill_options_select("filtro_tipo",1);
    fill_options_select("filtro_ubicacion",2);

    function buscar(){
        var tabla = document.getElementById('tabla_activos');
            var busqueda = document.getElementById('filtro_nombre').value.toLowerCase();
            var cellsOfRow="";
            var found=false;
            var compareWith="";
            for (var i = 1; i < tabla.rows.length; i++) {
                cellsOfRow = tabla.rows[i].getElementsByTagName('td');
                found = false;
                for (var j = 0; j < cellsOfRow.length && !found; j++) { compareWith = cellsOfRow[j].innerHTML.toLowerCase(); if (busqueda.length == 0 || (compareWith.indexOf(busqueda) > -1))
                    {
                        found = true;
                    }
                }
                if(found)
                {
                    //Si no está siendo mostrada, se cambia
                    if (tabla.rows[i].style.display == 'none'){
                        tabla.rows[i].style.display = '';
                    }
                    
                } else {
                    //Si está siendo mostrada, se quita

                    if (tabla.rows[i].style.display == ''){
                        tabla.rows[i].style.display = 'none';
                    }            
                }
            }
    }
    

</script>