<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../'+navBar) %>
    <a href="/" style="color: white" class="btn btn-dark mx-5 mt-5 ">
        <div class="mx-2 my-0">
            <p class="my-0"><i class="fa-solid fa-arrow-left-long"></i> Inicio</p>
        </div>
    </a>
        <div class="container mt-5">
            <div class="card" style="border-radius: 15px;">
                <div class="card-header p-4 justify-content-center align-items-center">
                    <h3>Agregar activo fijo</h3>
                </div>
                <form action="/register/asset" method="post" class="was-validated"lass="row g-3 needs-validation" novalidate>
                    <div class="card-body">
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <label for="validationCustom01" class="form-label">Nombre del activo: </label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="new-asset-name" id="" class="form-control form-control-lg" maxlength="50" id="validationCustom01" required/>
                                <div class="invalid-feedback">
                                    Campo necesario.
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Tipo de activo: </label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-select" aria-label="Default select example"
                                    name="new-asset-assetType" id="validationCustom02" required>
                                    <option value="">Desplegar opciones</option>
                                    <% for(let i in assetType) { %>
                                        <option value="<%= assetType[i].dataValues.id %> ">
                                            <%= assetType[i].dataValues.assetType %>
                                        </option>
                                        <% } %>
                                </select>
                                <div class="invalid-feedback">
                                    Opcion necesaria.
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <label for="validationCustom03" class="form-label">Cantidad: </label>
                            </div>
                            <div class="col-md-9">
                                <input type="number" name="new-asset-quantity" id="typeNumber" class="form-control form-control-lg" min="0" max="99999999" id="validationCustom03" required/>
                                <div class="invalid-feedback">
                                    Campo necesario.
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <label for="validationCustom04" class="form-label">Valor: </label>
                            </div>
                            <div class="col-md-9">
                                <input type="number" name="new-asset-price" id="typeNumber" class="form-control form-control-lg" min="0" max="99999999" id="validationCustom04" required/>
                                <div class="invalid-feedback">
                                    Campo necesario.
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <label for="validationCustom05" class="form-label">Ubicacion: </label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-select" aria-label="Default select example" id="placesOptions"
                                    name="new-asset-location" id="validationCustom05" required >
                                    <option value="">Desplegar opciones</option>
                                    <% for( let i in location ) { %>
                                        <option value="<%=location[i].dataValues.id%> ">
                                            <%=location[i].dataValues.locations%>
                                        </option>
                                        <% } %>
                                </select>
                                <div class="invalid-feedback">
                                    Opcion necesaria.
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <label for="validationCustom06" class="form-label">Encargado: </label>
                            </div>
                            <div class="col-md-9">

                                <select class="form-select" aria-label="Default select example"
                                    name="new-asset-userInCharge" id="validationCustom06" required aria-label="select example" >
                                    <option value="">Desplegar opciones</option>
                                    <% for( let i in user ) { %>
                                        <option value="<%= user[i].dataValues.id_users%>">
                                            <%= user[i].dataValues.UserName + ' | ' + user[i].dataValues.nameUser + ' '
                                                + user[i].dataValues.last_name %>
                                        </option>
                                        <% } %>
                                </select>
                                <div class="invalid-feedback">
                                    Opcion necesaria.
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <label for="validationTextarea" class="form-label">Descripción: </label>
                            </div>
                            <div class="col-md-9">
                                <textarea name="new-asset-description" id="" cols="30" rows="5" maxlength="255"
                                    class="form-control" placeholder="Requiere descripcion" id="validationTextarea" required></textarea>
                                    <div class="invalid-feedback">
                                        Rellene con una descripcion del activo.
                                    </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mx-n3">
                    <div class="px-5 py-4">
                        <button type="submit" class="btn btn-dark btn-lg">Registrar</button>
                    </div>
                </form>
                <% if(message == "Activo actualizado correctamente"){ %>
                    <div class="alert alert-success text-center"><%=message%></div>
                 <% } %>
                 <% if(message == "Verifique que los valores ingresados sean correctos"){ %>
                    <div class="alert alert-success text-center"><%=message%></div>
                 <% } %>
            </div>
            </div>
        </div>

</body>
<%- include('../partials/footer') %>

</html>