<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/navigation') %>
        <div class="container mt-5">
            <div class="card" style="border-radius: 15px;">
                <div class="card-header p-4 justify-content-center align-items-center">
                    <h3>Editar activo</h3>
                </div>
                <form action="/register/asset-update" method="post">
                    <div class="card-body">
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <h6 class="mb-0">ID</h6>
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" name="new-asset-id" id="" class="form-control form-control-lg" value="<%=asset[0].dataValues.id%>">
                                <p class="form-control form-control-lg"><%=asset[0].dataValues.id%></p>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <h6 class="mb-0">Nombre del activo</h6>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="new-asset-name" id="" class="form-control form-control-lg" value="<%=asset[0].dataValues.asset_name%>">
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <h6 class="mb-0">Tipo de Activo</h6>
                            </div>
                            <div class="col-md-9">
                                <select class="form-select" aria-label="Default select example"
                                    name="new-asset-assetType">
                                    <option selected>Elija una opción</option>
                                    <% for(let i in assetType) { %>
                                        <option value="<%= assetType[i].dataValues.id %> "<% if (assetType[i].dataValues.id === asset[0].dataValues.id_assetType) {%>selected <% console.log('aqui')}  %>>
                                            <%= assetType[i].dataValues.assetType %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <h6 class="mb-0">Cantidad</h6>
                            </div>
                            <div class="col-md-9">
                                <input type="number" name="new-asset-quantity" id="typeNumber" class="form-control form-control-lg" min="0" value="<%= asset[0].dataValues.quantity%>">
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <h6 class="mb-0">Valor</h6>
                            </div>
                            <div class="col-md-9">
                                <input type="number" name="new-asset-price" id="typeNumber" class="form-control form-control-lg" min="0" value="<%= asset[0].dataValues.price%>">
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <h6 class="mb-0">Ubicación</h6>
                            </div>
                            <div class="col-md-9">
                                <select class="form-select" aria-label="Default select example" id="placesOptions"
                                    name="new-asset-location">
                                    <option selected>Elija una opción</option>
                                    <% for( let i in location ) { %>
                                        <option value="<%=location[i].dataValues.id%> " <% if (location[i].dataValues.id === asset[0].dataValues.id_location) {%>selected <% console.log('aqui')}  %>>
                                            <%=location[i].dataValues.locations%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <h6 class="mb-0">Encargado</h6>
                            </div>
                            <div class="col-md-9">

                                <select class="form-select" aria-label="Default select example"
                                    name="new-asset-userInCharge">
                                    <option selected>Elija una opción</option>
                                    <% for( let i in user ) { %>
                                        <option <% if (user[i].dataValues.id_users == asset[0].dataValues.id_users_in_charge) {%>selected <% console.log('aqui')}  %> value="<%= user[i].dataValues.id_users%>" >
                                            <%= user[i].dataValues.UserName + ' | ' + user[i].dataValues.nameUser + ' ' + user[i].dataValues.last_name %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center m-2">
                            <div class="col-md-3">
                                <h6 class="mb-0">Descripción</h6>
                            </div>
                            <div class="col-md-9">
                                <textarea name="new-asset-description" id="" cols="30" rows="5"
                                    class="form-control" ><%=asset[0].dataValues.description%></textarea>
                            </div>
                        </div>
                    </div>
                    <hr class="mx-n3">
                    <div class="px-5 py-4">
                        <button type="submit" class="btn btn-dark btn-lg">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>

</body>
<%- include('../partials/footer') %>

</html>