<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../'+navBar) %>
    <a href="/edit/location" style="color: white" class="btn btn-dark mx-5 mt-5 ">
        <div class="mx-2 my-0">
            <p class="my-0"><i class="fa-solid fa-arrow-left-long"></i> Ubicaciones</p>
        </div>
    </a>
        <div class="container h-100 mt-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-header p-4">
                            <h3>Registrar nueva ubicación</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/register/location" class="row g-3 needs-validation" novalidate>
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <label for="validationCustom01" class="form-label">Nombre de la ubicación: </label>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input id='new-location-name' type="text" class="form-control form-control-lg" name='new-location-name' maxlength="50" id="validationCustom01" required/>
                                        <div class="invalid-feedback">
                                            Debes rellenar este campo con el nombre de una ubicación.
                                        </div>
                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="px-5 py-4">
                                    <button type="submit" class="btn btn-dark btn-lg">Registrar</button>
                                </div>
                                <% if(message == 'La ubicación se guardó con éxito'){ %>
                                    <div class="alert alert-success text-center"><%=message%></div>
                                 <% }else if (message != ''){ %>
                                    <div class="alert alert-danger text-center"><%=message%></div>
                                 <% } %>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</body>
<%- include('../partials/footer') %>
<script>
    (function () {
  'use strict'

  var forms = document.querySelectorAll('.needs-validation')

  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()   
</script>
</html>