<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/navigation') %>
        <div class="container h-100 mt-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
                    <form action="/register/user-update" method="post">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-header p-4">
                                <h3>Editar usuario</h3>
                            </div>
                            <div class="card-body">

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <h6 class="mb-0">Rut:</h6>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input type="hidden" class="form-control form-control-lg" name="new-user-rut" value="<%= user[0].dataValues.id_users %> " maxlength="10"/>
                                        <!-- <input type="text" class="form-control form-control-lg" class="form-control" value=" <%= //user[0].dataValues.id_users %> " maxlength="10" readonly/> -->
                                        <p class="form-control form-control-lg"><%= user[0].dataValues.id_users %></p>
                                    </div>
                                </div>
                    
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <h6 class="mb-0">Nombre de usuario:</h6>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="text" class="form-control form-control-lg" name="new-user-username"
                                        class="form-control" placeholder="" maxlength="10" value="<%= user[0].dataValues.UserName %> "
                                        />
                    
                                    </div>
                                </div>
                    
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <h6 class="mb-0">Nombre</h6>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="text" class="form-control form-control-lg" name="new-user-name"
                                        maxlength="19" value="<%= user[0].dataValues.nameUser %> "
                                        />
                                        
                    
                                    </div>
                                </div>
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <h6 class="mb-0">Apellido</h6>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="text" class="form-control form-control-lg" name="new-user-lastName"
                                        maxlength="19" value="<%= user[0].dataValues.last_name %> "
                                        />
                    
                                    </div>
                                </div>
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <h6 class="mb-0">Email</h6>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input type="email" class="form-control form-control-lg" name="new-user-email" value="<%= user[0].dataValues.email %> "/>
                                    </div>
                                </div>
                    
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <h6 class="mb-0">Cargo</h6>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <select class="form-select" aria-label="Default select example" name="new-user-position">
                                            <% for( let i in userPosition ) { %>
                                                <option value="<%= userPosition[i].dataValues.id%> "<% if (userPosition[i].dataValues.id == user[0].dataValues.id_position) {%>selected <% console.log('aqui')}  %> >
                                                    <%= userPosition[i].dataValues.position %>
                                                </option>
                                                <% } %>
                                        </select>
                                        
                    
                                    </div>
                                </div>
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <h6 class="mb-0">Tipo de usuario</h6>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="new-user-userType" id="admin" value='1' <% if (1 == user[0].dataValues.typeUser) {%>checked <% console.log('aqui')}  %>>
                                            <label class="form-check-label" for="Administrador">
                                                Administrador
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="new-user-userType" id="user" value='0'<% if (0 == user[0].dataValues.typeUser) {%>checked <% console.log('aqui')}  %>>
                                            <label class="form-check-label" for="Administrador">
                                                Usuario
                                            </label>
                                        </div>
                    
                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="px-5 py-4">
                                    <button type="submit" class="btn btn-dark btn-lg">Actualizar</button>
                                </div>
                                <div class="px-5 py-4"><%-message%></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
<%- include('../partials/footer') %>

</html>