<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../'+navBar) %>
        <div class="container h-100 mt-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
                    <form action="/register/user" method="post" class="row g-3 needs-validation" novalidate>
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-header p-4">
                                <h3>Registrar nuevo usuario</h3>
                            </div>
                            <div class="card-body">

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <label for="validationCustom01" class="form-label">Rut: </label>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="text" class="form-control form-control-lg" name="new-user-rut"
                                         placeholder="ej: 111111111-1" maxlength="10" id="validationCustom01" required
                                        />
                                        <div class="invalid-feedback">
                                            Este campo es necesario.
                                        </div>
                                    </div> 
                                </div>
                    
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <label for="validationCustom02" class="form-label">Nombre Usuario: </label>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="text" class="form-control form-control-lg" name="new-user-username"
                                         placeholder="" maxlength="10" id="validationCustom02" required
                                        />
                                        <div class="invalid-feedback">
                                            Este campo es necesario.
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <label for="validationCustom03" class="form-label">Nombre: </label>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="text" class="form-control form-control-lg" name="new-user-name"
                                        maxlength="19" id="validationCustom03" required
                                        />
                                        <div class="invalid-feedback">
                                            Este campo es necesario.
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <label for="validationCustom04" class="form-label">Apellido: </label>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="text" class="form-control form-control-lg" name="new-user-lastName"maxlength="19" id="validationCustom04" required />
                                        <div class="invalid-feedback">
                                            Este campo es necesario.
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <label for="validationCustom05" class="form-label">Email: </label>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="email" class="form-control form-control-lg" name="new-user-email" id="validationCustom05" required/>
                                        <div class="invalid-feedback">
                                            Este campo es necesario.
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <label for="validationCustom06" class="form-label">Contraseña: </label>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <input type="text" class="form-control form-control-lg" name="new-user-password"
                                        placeholder="***********" id="validationCustom06" maxlength="12" required
                                        />
                                        <div class="invalid-feedback">
                                            Este campo es necesario.
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <label for="validationCustom07" class="form-label">Cargo</label>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <select class="form-select" aria-label="Default select example" name="new-user-position" id="validationCustom07" required>
                                            <% for( let i in userPosition ) { %>
                                                <option value="<%= userPosition[i].dataValues.id%> ">
                                                    <%= userPosition[i].dataValues.position %>
                                                </option>
                                                <% } %>
                                        </select>
                                        <div class="invalid-feedback">
                                            Debes seleccionar una opción.
                                        </div>
                    
                                    </div>
                                </div>
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                    
                                        <label for="validationCustom08" class="form-label">Tipo de usuario</label>
                    
                                    </div>
                                    <div class="col-md-9 pe-5">
                    
                                        <select class="form-select" aria-label="Default select example" name="new-user-userType" id="validationCustom08" required>
                                            <option value="1">Administrador</option>
                                            <option value="0">Usuario</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Debes seleccionar una opción.
                                        </div>
                    
                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="px-5 py-4">
                                    <button type="submit" class="btn btn-dark btn-lg">Registrar</button>
                                </div>
                                <div class="px-5 py-4"><%-message%></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
<%- include('../partials/footer') %>
<script>
    (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
</html>