<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/navigation') %>
        <div class="container mt-5 " style="border-radius: 15px ; flex-direction: column;">
            <div class="card" style="border-radius: 15px ; flex-direction: column;">
                <div class="card-header p-4 justify-content-center align-items-center">
                    <h3>Últimos 10 activos agregados</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo</th>
                                <!-- <th scope="col">Ubicación</th> -->
                                <th scope="col">Encargado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i=0;i<last10AssetAdded[0].length;i++) { %>
                                <tr>
                                    <th scope="row"><%= last10AssetAdded[i].id %></th>
                                    <td><%= last10AssetAdded[i].asset_name %></td>
                                    <td><%= last10AssetAdded[i].assetTypeName %></td>
                                    <!-- <td><%= //last10AssetAdded[i].location %></td> -->
                                    <td> <%= last10AssetAdded[i].UserName %> <%= ' | '+ last10AssetAdded[i].nameUser %> <%= last10AssetAdded[i].lastName %></td>
                                </tr>

                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
<%- include('../partials/footer') %>

</html>